---
# tasks file for ansible-pbs
- name: Update APT cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"

- name: Install gnupg
  ansible.builtin.package:
    name: gnupg
    state: present

- name: Ensure proxmox signing key is installed
  ansible.builtin.apt_key:
    url: "{{ pbs_gpg_key }}"
    state: present

- name: Set repositories to no-subscription
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/pbs-no-subscription.list
    content: |
      deb http://download.proxmox.com/debian/pbs {{ ansible_distribution_release }} pbs-no-subscription
    owner: root
    group: root
    mode: 0644

- name: Comment enterprise repository
  ansible.builtin.replace:
    path: /etc/apt/sources.list.d/pbs-enterprise.list
    regexp: "^deb"
    replace: "#deb"

- name: Install Proxmox Backup Server
  ansible.builtin.package:
    name: proxmox-backup-server
    update_cache: true
    state: present

- name: Disable subscription nag script
  ansible.builtin.copy:
    src: no-nag-script
    dest: /etc/apt/apt.conf.d/no-nag-script
    owner: root
    group: root
    mode: 0755
  notify:
    - Reinstall proxmox-widget-toolkit
    - Restart proxmox-backup-proxy
