---
# handlers file for ansible-pbs
- name: Restart proxmox-backup-proxy
  ansible.builtin.service:
    name: proxmox-backup-proxy
    state: restarted

- name: Reinstall proxmox-widget-toolkit
  ansible.builtin.command: apt --reinstall install proxmox-widget-toolkit
  changed_when: true
